{
  "presets": [
    ["@babel/preset-env", {
      "targets": "Firefox ESR"
    }],
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "modules": false
      }
    ]
  ]
}
