{
  "presets": [
    ["@babel/preset-env", {
      "targets": "Firefox ESR"
    }],
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
     "babel-plugin-direct-import",
     { "modules": ["@mui/material", "@mui/icons-material"] }
    ]
  ]
}
